body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1rem 0;
}
.search-bar {
  margin: 1rem 0;
}

.ui.image {
  max-width: 150px;
}
.App .video-list {
  height: 80vh;
  overflow-y: scroll;
}
.App .video-list .item {
  cursor: pointer;
  display: flex;
}
.App .video-list .item .image-container {
  margin-right: .8rem;
}
.item .header {
  font-size: 1.2rem;
}
